<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"><link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'header.html' %}

    <div class="container_main">
        <h3 style="text-align: center;">Контакты</h3><br />

        <p>Разработчиком данного приложения является студент МТУСИ Васюкова Наталья Павловна, группа БВТ2303. </p>

        <p>По всем вопросам обращаться по почте - vasyukova.nat.it@gmail.com </p>

        <p>Спасибо, что выбрали нас!</p>
    </div>

</body>
</html>